__pycache__
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
db.sqlite3-journal
*.log
.venv
venv
env
.env
.git
.gitignore
.github
.vscode
.idea
storage/
private/
staticfiles/
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache
.tox
node_modules
