DJANGO_DEBUG=0
DJANGO_SECRET_KEY=cambia-esto-por-una-clave-secreta-larga-y-aleatoria
DJANGO_ALLOWED_HOSTS=tu-app.up.railway.app
CSRF_TRUSTED_ORIGINS=https://tu-app.up.railway.app
DB_ENGINE=postgresql
POSTGRES_DB=railway
POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu-password-de-railway
POSTGRES_HOST=tu-host-de-railway.railway.internal
POSTGRES_PORT=5432
SECURE_COOKIES=1
SECURE_SSL_REDIRECT=1
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=1
